* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
p {
  margin: 0;
}

.vertical-align-middle{
  display: flex;
  align-items: center;
}

.main-wrapper{
  
}

.nav-logo {
  max-width: 5em;
}

.navigation-bar {
  box-shadow: 0 2px 6px 0.5px #0000001A;
  padding: 20px;
}

.the-hero-wrapper{
  max-width: 50%;
  margin: auto;
  padding: 40px;
}

.the-hero-wrapper img.welcome-image{
  max-width: 70%;
}

.the-hero-wrapper .hero-top-half{
  max-width: 100%;
  text-align: center;
}

.the-hero-wrapper .hero-bottom-half h3{
  font-weight: bolder;
  font-size: 36px;
}

.the-hero-wrapper .hero-bottom-half p{
  font-size: 16px;
  color: #222222;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card{
  position: relative;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}
section {
  padding: 20px;
}

.card-image{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

#the-rating{
  font-weight: bolder;
  margin-right: 6px;
}


.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-other-info{
  display: flex;
  align-items: center;  

}

#star-image{
  height: 14px;
}

#gig-price{
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}